body{
  background-color: #062041;
}

.App {
  text-align: center;
  background-color: #f0f0f0;
  width: 800px;
  height: auto;
  margin: auto;
  margin-top: 5vh;
  padding: 16px;
  box-sizing: border-box;
}
